<div class="header-container">
    <div class="logo">Plan<span style="color:red;">N</span><span class="highlight">Go</span> Hub</div>
    <div class="header-login">
      <a routerLink="/login" class="login-btn">Login</a>
    </div>
  
    <nav>
      <a href="#" class="active" style="color: white;">Home</a>
      <a href="#" style="color: black;">Hotel</a>
      <a href="#" style="color: black;">Flight</a>
      <a href="#" style="color: black;">Tour</a>
      <a href="#" style="color: black;">Cab</a>
      <a href="#" style="color: black;">Contact</a>
      <a href="dashboard.html" ng-if="isLoggedIn" style="color: white;" class="button">Dashboard</a>
    </nav>
  </div>
  